<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="com.archie.Sword.daggerHilt.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sword"
        tools:targetApi="31">
        <activity
            android:name=".AddingVerseActivity"
            android:exported="false"
            android:label="@string/title_activity_adding_verse"
            android:theme="@style/Theme.Sword" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Sword" />

        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SplashScreen"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>




        <activity
            android:name=".SettingsScreenActivity"
            android:exported="false"
            android:label="@string/title_activity_settings_screen"
            android:theme="@style/Theme.Sword" />
    </application>

</manifest>